{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">

        {% include 'partial/public-nav-bar.html.twig' %}

        <h1 class="text-center mb-5">Описание реализации</h1>

        <p><span class="fw-bold">Многослойная архитектура</span>
            - возможно оверинжиниринг в данном случае, но закладывает основу для дальнейшего развития проекта, потребность в котором всегда возникает внезапно</p>

        <p><span class="fw-bold">Немного дополнительной вёрстки, меню и фичей</span>
            - для придания минимальной законченности функционалу</p>

        <p><span class="fw-bold">Асинхронное создание заказа</span>
            - на предварительной беседе был вопрос про очереди</p>

        <p><span class="fw-bold">Хранилище</span>
            - mysql в контейнере; сущности: User, PriceList, Order; ORM - Doctrine</p>

        <p><span class="fw-bold">Тестирование</span>
            - по причине асинхронности основного функционала немного усложнились тесты;
            конечно асинхронные приложения целесообразнее тестировать в полностью изолированной среде,
            но в данном случае ограничился разделением создания заказа на две очереди для test и dev окружения</p>

        <span class="fw-bold">Функционал</span>
        <ul>
            <li>Чтобы войти - нужно зарегистрироваться, email можно ввести фейковый - верификация отсутствует</li>
            <li>После успешной регистрации пользователь получает флэш-сообщение, перенаправляется на форму входа</li>
            <li>Для создания заказа по дефолту используется email юзера для минимизации ошибок, email можно поменять</li>
            <li>Поле выбора услуги всегда заполнено, поэтому оно не проверяется, проверятся только поле email</li>
            <li>При некорректных данных на форме входа, регистрации, создания заказа пользователь получает сообщение об ошибке</li>
            <li>При успешном создании заказа пользователь получает флэш-сообщение и может посмотреть свои заказы в списке заказов</li>
            <li>Хранение атрибутов Order - title и price в дополнение к ссылке на PriceList сделано для того,
                чтобы хранить существенные условия сделки с пользователем независимо от прайс-листа,
                который гипотетически может измениться</li>
        </ul>

        <div>
            <spanp class="fw-bold">Код</spanp>
            <a class="mx-3" href="https://github.com/JohnMontigomo/online-ocenka">https://github.com/JohnMontigomo/online-ocenka</a>
        </div>

    </div>

{% endblock %}
