{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">

        <h1 class="text-center mb-5">Сервис онлайн-оценки имущества</h1>

        <div class="d-flex justify-content-center">
            <a href="{{ asset('/to-download/middle-dev-test-task.pdf') }}" target="_blank" class="mx-3">Тестовое задание</a>
            <a href="{{ path('app_about') }}" class="mx-3">Описание реализации</a>
            <a href="{{ path('app_login') }}" class="mx-3">Войти</a>
            <a href="{{ path('app_registration') }}" class="mx-3">Зарегистрироваться</a>
        </div>

    </div>

{% endblock %}
