{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">

        <h1 class="text-center mb-5">Сервис онлайн-оценки имущества</h1>

        <div class="d-flex justify-content-center">
            <a href="{{ path('app_about') }}">Описание реализации</a>
            <a href="{{ path('app_login') }}" class="mx-5">Войти</a>
            <a href="{{ path('app_registration') }}">Зарегистрироваться</a>

        </div>

    </div>

{% endblock %}
