<div class="d-flex justify-content-end mb-5">

    <a href="{{ path('app_web_order_create') }}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
        >Заказать услугу</a>

    <a href="{{ path('app_web_order_get_collection') }}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover mx-5"
        >Список заказов</a>

    <a href="{{ path('app_logout') }}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
        >Выйти</a>

</div>
