<div class="d-flex justify-content-end mb-5">

    <a href="{{ path('app_home_page') }}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
    >На главную</a>

</div>
